* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  padding-block: 5px;
}

hr {
  border: 1px solid #cccccc;
}

body {
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}

.primary-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  height: 80px;
  background-color: #7477bf;
  color: white;
}
.primary-header h1 {
  flex: 1;
  font-weight: 400;
}
.primary-header h1 strong {
  font-weight: 700;
}
.primary-header h1 sup {
  font-size: 0.7rem;
}
.primary-header .bell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 50px;
}
.primary-header .bell-container .bell-icon {
  width: 28px;
  fill: #f7f7f7;
}
.primary-header .bell-container #notifications {
  position: absolute;
  background-color: #90ee90;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 4px;
  right: 8px;
}
.primary-header .vh {
  height: 50px;
  border-left: 2px solid #8387b3;
}
.primary-header img {
  width: 50px;
  border-radius: 50%;
}
.primary-header span {
  font-size: 1.1rem;
}

nav {
  grid-area: navigation;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #474669;
  height: 68px;
}
nav svg {
  height: 40px;
  fill: #f7f7f7;
}

main {
  grid-area: main;
  color: black;
  background-color: white;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 70px;
  margin-left: 20px;
}
.main-header .headline {
  background-color: white;
  font-weight: 400;
}
.main-header .tab {
  flex: 1;
  height: 70px;
  background-color: #f7f7f7;
  border: 2px solid #cccccc;
  border-width: 0 0 2px 2px;
}

#alert {
  height: 50px;
  color: #f7f7f7;
  background-color: #7477bf;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
#alert span {
  font-size: 1.25rem;
  padding: 20px;
}

section {
  margin: 20px;
}

.traffic .traffic-header .traffic-nav {
  list-style: none;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.traffic .traffic-header .traffic-nav .traffic-nav-link {
  background-color: transparent;
  color: black;
  font-size: 1.25rem;
  padding: 10px 16px;
  border-radius: 20px;
}
.traffic .traffic-header .traffic-nav .traffic-nav-link.active {
  background-color: #81c98f;
  color: white;
}
.traffic .widget-container-full img {
  width: 100%;
}

.daily h3,
.mobile h3 {
  margin-bottom: 30px;
}
.daily .widget-container-half img,
.mobile .widget-container-half img {
  width: 100%;
}

.social h3,
.members h3,
.activity h3,
.message h3,
.settings h3 {
  margin-bottom: 20px;
}

.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7;
  border: 2px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 120px;
}
.social-container .social-image {
  margin: 20px;
  width: 80px;
  height: 80px;
  background: #7477bf;
  border: 20px solid #7477bf;
  border-radius: 50%;
}
.social-container .social-image svg {
  fill: white;
}
.social-container .social-text p:first-child {
  font-size: 1.5rem;
  color: #7477bf;
}
.social-container .social-text p:last-child {
  font-size: 3rem;
  color: #757575;
}

.members hr,
.activity hr {
  margin-block: 20px;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 35px;
}
.members-container .profile-image {
  width: 85px;
  border-radius: 50%;
  margin-bottom: 6px;
}
.members-container .members-text {
  text-align: center;
}
.members-container .members-text a {
  color: #7477bf;
  text-decoration: none;
}
.members-container .members-text strong {
  font-weight: 500;
}

.widget-container input,
.widget-container textarea,
.widget-container button {
  width: 100%;
  height: 65px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  padding: 10px 10px 10px 15px;
}
.widget-container input::-moz-placeholder, .widget-container textarea::-moz-placeholder, .widget-container button::-moz-placeholder {
  color: #777;
  font-size: 1.25rem;
}
.widget-container input::placeholder,
.widget-container textarea::placeholder,
.widget-container button::placeholder {
  color: #777;
  font-size: 1.25rem;
}
.widget-container input,
.widget-container textarea {
  margin-bottom: 20px;
  background-color: #f7f7f7;
}
.widget-container textarea {
  height: 190px;
}
.widget-container button {
  background-color: #7477bf;
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.settings label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
}
.settings label strong {
  flex: 3;
}
.settings label span {
  flex: 1;
  color: red;
}
.settings #timezone {
  width: 100%;
  height: 65px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  padding: 10px 10px 10px 15px;
  color: #777;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.settings .settings-button {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.settings #save,
.settings #cancel {
  flex: 1;
  height: 65px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  font-size: 1.25rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.settings #save {
  background-color: #7477bf;
  color: #f7f7f7;
}
.settings #cancel {
  background-color: #999999;
  color: #f7f7f7;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation main";
  }
  nav {
    position: sticky;
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background-color: #474669;
    height: 100vh;
  }
}
/*
.main {
    display: grid;
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 50% ;
    }

    .traffic, .social {
    grid-column: 1 / span 2;
    }

    .daily, .members, .message {
    grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
    grid-column: 2 / span 1;
    }
}
*//*# sourceMappingURL=style.css.map */