// COLORS
$purple-light: #7477bf;
$puprle-dark: #474669;
$off-white: #f7f7f7;
$green: #81c98f;
$teal: #51b6c8;
$gray: #cccccc;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
    padding-block: 5px;
    font-size: 0.95rem;
}

hr {
    border: 1px solid $gray;
    border-bottom: none;
}

body {
    color: $off-white;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.primary-header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    height: 64px;
    background-color: $purple-light;
    color: white;

    h1 {
        flex: 1;
        font-weight: 400;
        font-size: 1.35rem;

        strong {
            font-weight: 700;
        }

        sup {
            font-size: 0.5rem;
        }
    }

    .bell-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 40px;
        width: 40px;

        .bell-icon {
            width: 22px;
            fill: $off-white;
            transform-origin: center top;

            &:hover {
                cursor: pointer;
                animation: bell-animation 0.8s ease-out;
            }

            @keyframes bell-animation {
                30% {
                    transform: rotate(8deg);
                }

                70% {
                    transform: rotate(-6deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }
        }
    
        #notifications {
            position: absolute;
            background-color: #90ee90;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            top: 4px;
            right: 8px;
        }
    }

    .vh {
        height: 40px;
        border-left: 2px solid #8387b3;
    }

    img {
        width: 38px;
        border-radius: 50%;
    }

    span {
        font-size: 0.8rem;
    }
}

nav {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: $puprle-dark;
    height: 54px;

    svg {
        height: 30px;
        fill: $off-white;
    }
}

main {
    grid-area: main;
    color: black;
    background-color: white;
}

.main-header {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
    margin-left: 15px;

    .headline {
        background-color: white;
        font-weight: 400;
        font-size: 1.1rem;
    }

    .tab {
        flex: 1;
        height: 50px;
        background-color: $off-white;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: $gray;
    }
}

.alert-banner {
    height: 36px;
    color: $off-white;
    background-color: $purple-light;
    margin: 15px;
    padding-block: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p {
        font-size: 0.9rem;
        padding: 15px;
    }

    p:last-child {
        padding: 5px;
        margin-right: 10px;
    }

    p:last-child:hover {
        cursor: pointer;
    }
}

section {
    margin: 15px;
}

.traffic {

    .traffic-header {

        .traffic-nav {
            list-style: none;
            background-color: white;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            
            .traffic-nav-link {
                background-color: transparent;
                color: black;
                font-size: 0.95rem;
                padding: 7px 10px;
                border-radius: 20px;

                &:hover {
                    cursor: pointer;
                }
            }

            .traffic-nav-link.active {
                background-color: $green;
                color: white;
            }
        }
    }
    
    .widget-container-full {
        display: grid;
        gap: 0.1rem;
        grid-template-rows: min-content minmax(0, 1fr) min-content;
        grid-template-columns: 1fr minmax(0, 3fr);
    }
}

.daily,
.mobile {

    h3 {
        margin-bottom: 20px;
    }

    .widget-container-half {
        display: grid;
        gap: 0.1rem;
        grid-template-rows: min-content minmax(0, 1fr) min-content;
        grid-template-columns: 1fr minmax(0, 3fr);
    }
}

.social h3,
.members h3,
.activity h3,
.message h3,
.settings h3 {
    margin-bottom: 10px;
}

.social-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $off-white;
    border: 1px solid $gray;
    border-radius: 6px;
    margin-bottom: 15px;
    height: 96px;

    .social-image {
        margin: 20px;
        width: 60px;
        height: 60px;
        background: $purple-light;
        border: 15px solid $purple-light;
        border-radius: 50%;
    }

    .social-image svg {
        fill: white;
        
    }

    .social-text p:first-child {
        font-size: 1.05rem;
        color: $purple-light;
    }

    .social-text p:last-child {
        font-size: 2.2rem;
        color: #757575;
    }
}

.members hr,
.activity hr {
    margin-block: 15px;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 15px;
    font-size: 0.8rem;

    .profile-image {
        width: 60px;
        border-radius: 50%;
        margin-bottom: 6px;
    }

    .members-text {
        text-align: center;

        a {
            color: $purple-light;
            text-decoration: none;
        }

        strong {
            font-weight: 500;
        }
    }
}

.widget-container {
    input,
    textarea,
    button {
        width: 100%;
        height: 45px;
        border: 1px solid $gray;
        border-radius: 5px;
        padding: 8px 8px 8px 10px;
        font-size: 0.95rem;
        font-family: sans-serif;

        &::placeholder {
            color: #777;
            font-size: 0.95rem;
        }
    }

    input,
    textarea {
        margin-bottom: 15px;
        background-color: $off-white;

    }

    textarea {
        height: 130px;
        min-height: 130px;
        max-height: 180px;
        min-width: 100%;
        max-width: 100%;
    }

    button {
        background-color: $purple-light;
        color: $off-white;
        text-transform: uppercase;
        font-size: 0.95rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.settings {

    label {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        font-size: 0.95rem;

        strong {
            flex: 3;
        }

        span {
            flex: 1;
            max-width: 75px;
        }
    }

    #timezone {
        position: relative;
        width: 100%;
        height: 48px;
        border: 1px solid $gray;
        border-radius: 8px;
        padding: 10px 10px 10px 15px;
        color: #777;
        font-size: 0.95rem;
        margin-bottom: 15px;
        margin-top: 10px;
        background: url(../img/svg/triangle.svg) no-repeat 96% 50%;
        background-color: $off-white;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    .settings-button {
        display: flex;
        justify-content: space-around;
        gap: 15px;
    }

    #save,
    #cancel {
        flex: 1;
        height: 45px;
        border: 1px solid $gray;
        border-radius: 5px;
        font-size: 0.95rem;
        margin-bottom: 5px;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }

    #save {
        background-color: $purple-light;
        color: $off-white;
    }

    #cancel {
        background-color: #999999;
        color: $off-white;
    }
}

@media (min-width: 380px) {
    .alert-banner {
        padding-block: 0px;
    }
}

@media (min-width: 430px) {
    h3 {
        font-size: 1.2rem;
    }

    .primary-header {
        padding: 20px;
        height: 80px;
    
        h1 {
            font-size: 1.75rem;

            sup {
                font-size: 0.7rem;
            }
        }
    
        .bell-container {
            height: 50px;
            width: 50px;
    
            .bell-icon {
                width: 28px;
            }
        
            #notifications {
                width: 7px;
                height: 7px;
            }
        }
    
        .vh {
            height: 50px;
        }
    
        img {
            width: 50px;
        }
    
        span {
            font-size: 1.1rem;
        }
    }

    nav {
        gap: 40px;
        height: 68px;
    
        svg {
            height: 40px;
        }
    }

    .main-header {
        gap: 20px;
        height: 70px;
        margin-left: 20px;
    
        .headline {
            font-size: 1.35rem;
        }
    
        .tab {
            flex: 1;
            height: 70px;
        }
    }

    section {
        margin: 20px;
    }

    .traffic {

        .traffic-header {
    
            .traffic-nav {
                margin-bottom: 30px;
                
                .traffic-nav-link {
                    font-size: 1.25rem;
                    padding: 10px 16px;
                }
            }
        }
    }

    .daily,
    .mobile {

        h3 {
            margin-bottom: 30px;
        }
    }

    .social h3,
    .members h3,
    .activity h3,
    .message h3,
    .settings h3 {
        margin-bottom: 20px;
    }

    .social-container {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 120px;
    
        .social-image {
            width: 80px;
            height: 80px;
            border: 20px solid $purple-light;
        }
    
        .social-text p:first-child {
            font-size: 1.5rem;
        }
    
        .social-text p:last-child {
            font-size: 3rem;
        }
    }

    .members hr,
    .activity hr {
        margin-block: 20px;
    }

    .members-container {
        padding-inline: 35px;
        font-size: 1rem;
    
        .profile-image {
            width: 85px;
        }
    }

    .widget-container {
        input,
        textarea,
        button {
            height: 65px;
            border-radius: 8px;
            padding: 10px 10px 10px 15px;
            font-size: 1.25rem;

            &::placeholder {
                font-size: 1.25rem;
            }
        }
    
        input,
        textarea {
            margin-bottom: 20px;
    
        }
    
        textarea {
            height: 190px;
            min-height: 190px;
            max-height: 250px;
            min-width: 100%;
            max-width: 100%;
        }
    
        button {
            font-size: 1.2rem;
        }
    }

    .settings {

        label {
            margin-bottom: 20px;
            font-size: 1.1rem;

            span {
                max-width: 90px;
            }
        }
    
        #timezone {
            height: 65px;
            font-size: 1.25rem;
            margin-bottom: 20px;
            margin-top: 0px;
            background: url(../img/svg/triangle.svg) no-repeat 97% 50%;
            background-size: 15px;
            background-color: $off-white;
        }
    
        .settings-button {
            gap: 20px;
        }
    
        #save,
        #cancel {
            height: 65px;
            border-radius: 8px;
            font-size: 1.25rem;
        }
    }
}

@media (min-width: 550px) {
    .alert-banner {
        height: 50px;
        
        p {
            font-size: 1.25rem;
        }
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    h3 {
        font-size: 0.9rem;
    }

    .primary-header {
        padding: 20px 10px;
        height: 70px;
    
        h1 {
            font-weight: 400;
            font-size: 1.3rem;
    
            sup {
                font-size: 0.5rem;
            }
        }
    
        .bell-container {
            height: 45px;
            width: 45px;
    
            .bell-icon {
                width: 22px;
            }
        
            #notifications {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 6px;
                right: 10px;
            }
        }
    
        .vh {
            height: 42px;
        }
    
        img {
            width: 40px;
        }
    
        span {
            font-size: 0.8rem;
        }
    }

    nav {
        position: sticky;
        top: 0px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 22px;
        height: 100vh;
        width: 70px;
        padding-top: 20px;

        svg {
            height: 30px;
        }
    }

    // Grid
    main {
        //Grid layout start
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-left: 10px;
        
        hr {
            grid-column: 1 / span 6;
        }

        .daily + hr {
            grid-row: 1;
        }

        .main-header,
        .alert-container,
        .traffic {
            grid-column: 1 / span 6;
        }

        .daily {
            grid-column: 1 / span 3;
        }

        .mobile {
            grid-column: 4 / span 3;
        }

        .social {
            grid-column: 1 / span 6;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            h3 {
                grid-column: 1 / span 3;
            }

            .social-container {

            }

            .social-container:nth-of-type(1) {
                grid-column: 1 / span 1;
            }

            .social-container:nth-of-type(2) {
                grid-column: 2 / span 1;
            }
            
            .social-container:nth-of-type(3) {
                grid-column: 3 / span 1;
            }
        }

        .members,
        .activity,
        .message,
        .settings {
            grid-column: 1 / span 6;
        }
        // Grid layout end
    }

    .main-header {
        gap: 15px;
        height: 55px;
    
        .headline {
            font-size: 1.1rem;
        }
    
        .tab {
            height: 52px;
            border-width: 0 0 1px 1px;
            border-style: solid;
            border-color: $gray;
        }
    }

    .alert-banner {
        height: 36px;
        margin: 15px 20px;
        border-radius: 6px;
        
        p {
            font-size: 0.9rem;
            padding: 15px;
        }
    }

    section {
        margin: 5px 20px;   //20px
    }

    .traffic {
        margin-block: 5px 10px;

        .traffic-header {
            display: flex;
            justify-content: space-between;
            align-items: center;  
            margin-bottom: 20px;

            .traffic-nav {
                margin-bottom: 0px;

                .traffic-nav-link {
                    font-size: 0.95rem;
                    padding: 6px 11px;
                }

            }
        }
    }

    .daily,
    .mobile {

        h3 {
            margin-bottom: 20px;
        }
    }

    .daily {
        margin-right: 0;
        margin-block: 0;
        padding-right: 20px;
        padding-block: 5px;
        border-right: 1px solid #ccc;
    }

    .social h3 {
        margin-bottom: -5px;
    }

    .social-container {
        border-radius: 6px;
        margin-bottom: 10px;
        height: 95px;
    
        .social-image {
            width: 60px;
            height: 60px;
            border: 15px solid $purple-light;
        }
    
        .social-text p:first-child {
            font-size: 1.05rem;
        }
    
        .social-text p:last-child {
            font-size: 2rem;
        }
    }

    .members hr,
    .activity hr {
        margin-block: 10px;
    }

    .members h3,
    .activity h3,
    .message h3 {
        margin-bottom: 10px;
    }

    .members-container {
        flex-direction: row;
        justify-content: inherit;
        padding-inline: 0px;
        font-size: 0.9rem;
    
        .profile-image {
            width: 60px;
        }

        .members-text {
            flex: 1;
            text-align: left;
            margin-left: 15px;
        }
    }

    .widget-container {
        input,
        textarea,
        button {
            height: 45px;
            border-radius: 5px;
            padding: 8px 8px 8px 12px;
            font-size: 0.9rem;

            &::placeholder {
                font-size: 0.9rem;
            }
        }
    
        input,
        textarea {
            margin-bottom: 15px;
    
        }
    
        textarea {
            height: 130px;
            min-height: 130px;
            max-height: 180px;
            min-width: 100%;
            max-width: 100%;
        }
    
        button {
            font-size: 1rem;
            margin-bottom: 10px;
        }
    }

    .settings {

        label {
            display: flex;
            margin-bottom: 20px;
            font-size: 0.9rem;
            width: 300px;

            span {
                max-width: 75px;
            }
        }
    
        #timezone {
            height: 45px;
            font-size: 0.9rem;
            margin-bottom: 15px;
            margin-top: 0px;
            border-radius: 5px;
            background: url(../img/svg/triangle.svg) no-repeat 98% 50%;
            background-size: 13px;
            background-color: $off-white;
        }
    
        .settings-button {
            gap: 15px;
        }
    
        #save,
        #cancel {
            height: 45px;
            border-radius: 5px;
            font-size: 1rem;
            margin-bottom: 10px;
        }
    }
}



@media (min-width: 1024px) {
    body {
        background-color: darken($puprle-dark, 10%);
    }

    // Grid
    main {
        .members,
        .message {
            grid-column: 1 / span 3;
        }

        .activity {
            grid-row: 10;
        }

        .activity,
        .settings {
            grid-column: 4 / span 3;
        }

        .settings {
            grid-row: 12;
        }
    }

    .members,
    .message {
        margin-right: 0;
        margin-block: 0;
        padding-right: 20px;
        padding-block: 5px;
        border-right: 1px solid #ccc;
    }

    .last-members-hr {
        display: none;
    }

    .settings {
        margin-block: 0;
        padding-block: 5px;
        position: relative;

        label {
            margin-bottom: 32px;
        }

        #timezone {
            position: absolute;
            width: 100%;
            bottom: 60px;
        }

        .settings-button {
            gap: 15px;
            position: absolute;
            width: 100%;
            bottom: 15px;
        }

        #save,
        #cancel {
            margin-bottom: 0px;
        }
    }
}
