@use 'vendors';
@use 'base';
@use 'utils' as *;
@use 'layout';

* {
  scroll-behavior: smooth;
}

body {
  color: $off-white;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

h1 {
  flex: 1;

  a {
    color: white;
  }
}

h3 {
  padding-block: 5px;
}

hr {
  border: 1px solid $gray;
  border-bottom: none;
}

.primary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  height: 64px;
  background-color: $purple-light;
  color: white;

  .bell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    width: 40px;

    .notification-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-inline: auto;
      top: 40px;
      left: -148px;
      background-color: $off-white;
      width: 300px;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
      border: 1px solid #ccc;
      
      &.hide {
        display: none;
      }

      .notification {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding: 5px;
      }

      .notification:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
      }

      img {
        height: 50px;
        width: 50px;
      }

      .notif-text {
        color: black;
        
        p:nth-child(2) {
          color: #666;
          margin-top: 4px;
        }
      }
    }

    .bell-icon {
      width: 22px;
      fill: $off-white;
      transform-origin: center top;

      &:hover {
        cursor: pointer;
        animation: bell-animation 0.8s ease-out;
      }

      @keyframes bell-animation {
        30% {
          transform: rotate(8deg);
        }

        70% {
          transform: rotate(-6deg);
        }

        100% {
          transform: rotate(0deg);
        }
      }
    }
  
    #notification-dot {
      position: absolute;
      background-color: #90ee90;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      top: 4px;
      right: 8px;
    }
  }

  .vh {
    height: 40px;
    border-left: 2px solid #8387b3;
  }

  img {
    width: 38px;
    border-radius: 50%;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: $puprle-dark;
  height: 54px;

  svg {
    height: 30px;
    fill: $off-white;
  }
}

main {
  color: black;
  background-color: white;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  margin-left: 15px;

  .headline {
    background-color: white;
  }

  .tab {
    flex: 1;
    height: 50px;
    background-color: $off-white;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $gray;
  }
}

.alert-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-block: 25px;
  height: 36px;
  color: $off-white;
  background-color: $purple-light;
  border-radius: 5px;
  
  p {
    padding: 15px;
  }

  p:last-child {
    padding: 5px;
    margin-right: 10px;
  }

  p:last-child:hover {
    cursor: pointer;
  }
}

section {
  margin: 15px;
}

.traffic {
  .traffic-header {
    .traffic-nav {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      list-style: none;
      user-select: none;
      background-color: white;
      
      &-link {
        padding: 7px 10px;
        color: black;
        background-color: transparent;
        border-radius: 20px;

        &:hover {
          cursor: pointer;
        }

        &.active {
          background-color: $green;
          color: white;
        }
      }
    }
  }
  
  .widget-container-full {
    display: grid;
    gap: 0.1rem;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    grid-template-columns: 1fr minmax(0, 3fr);
  }
}

.daily,
.mobile {
  h3 {
    margin-bottom: 20px;
  }

  .widget-container-half {
    display: grid;
    gap: 0.1rem;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    grid-template-columns: 1fr minmax(0, 3fr);
  }
}

.social h3,
.members h3,
.activity h3,
.message h3,
.settings h3 {
  margin-bottom: 10px;
}

.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 96px;
  margin-bottom: 15px;
  background-color: $off-white;
  border: 1px solid $gray;
  border-radius: 6px;

  .social-image {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: $purple-light;
    border: 15px solid $purple-light;
    border-radius: 50%;
  }

  .social-image svg {
    fill: white;
  }

  .social-text p:first-child {
    color: $purple-light;
  }
  
  .social-text p:last-child {
    color: #757575;
  }
}

.members hr,
.activity hr {
  margin-block: 15px;
}

.members-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;

  .profile-image {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 6px;
  }

  .members-text {
    text-align: center;

    a {
      color: $purple-light;
    }
  }

  .arrow {
    display: none;
   }
}

.widget-container {
  .autocomplete {
    position: relative;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: $purple-light !important;
    color: #ffffff;
  }

  input,
  textarea,
  button {
    width: 100%;
    height: 45px;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 8px 8px 8px 10px;

    &::placeholder {
      color: #777;
    }
  }

  input,
  textarea {
    margin-bottom: 15px;
    background-color: $off-white;
  }

  textarea {
    height: 130px;
    min-height: 130px;
    max-height: 180px;
    min-width: 100%;
    max-width: 100%;
  }

  button {
    background-color: $purple-light;
    color: $off-white;

    &:hover {
      cursor: pointer;
    }
  }
}

.settings {
  label {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    strong {
      flex: 3;
    }

    span {
      flex: 1;
      max-width: 75px;
      cursor: pointer;
    }
  }

  #timezone {
    position: relative;
    width: 100%;
    height: 48px;
    border: 1px solid $gray;
    border-radius: 8px;
    padding: 10px 10px 10px 15px;
    color: #777;
    margin-bottom: 15px;
    margin-top: 10px;
    background: url(../img/svg/triangle.svg) no-repeat 96% 50%;
    background-color: $off-white;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  #timezone:hover {
    cursor: pointer;
  }

  .settings-button {
    display: flex;
    justify-content: space-around;
    gap: 15px;
  }

  #save,
  #cancel {
    flex: 1;
    height: 45px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  #save {
    background-color: $purple-light;
    color: $off-white;
  }

  #cancel {
    background-color: #999999;
    color: $off-white;
  }
}

.toast-container {
  display: none;
}

@media (min-width: 380px) {
  .alert-banner {
    padding-block: 0px;
  }
}

@media (min-width: 430px) {
  .primary-header {
    padding: 20px;
    height: 80px;
  
    .bell-container {
      height: 50px;
      width: 50px;

      .notification-container {
        top: 54px;
      }
  
      .bell-icon {
        width: 28px;
      }
    
      #notification-dot {
        width: 7px;
        height: 7px;
      }
    }
  
    .vh {
      height: 50px;
    }
  
    img {
      width: 50px;
    }
  }

  nav {
    gap: 40px;
    height: 68px;
  
    svg {
      height: 40px;
    }
  }

  .main-header {
    gap: 20px;
    height: 70px;
    margin-left: 20px;
  
    .tab {
      flex: 1;
      height: 70px;
    }
  }

  section {
    margin: 20px;
  }

  .traffic .traffic-header {
    .traffic-nav {
      margin-bottom: 30px;
      
      &-link {
        padding: 10px 16px;
      }
    }
  }

  .daily h3,
  .mobile h3 {
    margin-bottom: 30px;
  }

  .social h3,
  .members h3,
  .activity h3,
  .message h3,
  .settings h3 {
    margin-bottom: 20px;
  }

  .social-container {
    border-radius: 10px;
    margin-bottom: 20px;
    height: 120px;
  
    .social-image {
      width: 80px;
      height: 80px;
      border: 20px solid $purple-light;
    }
  }

  .members hr,
  .activity hr {
    margin-block: 20px;
  }

  .members-container {
    padding-inline: 35px;
  
    .profile-image {
      width: 85px;
    }
  }

  .widget-container {
    input,
    textarea,
    button {
      height: 65px;
      border-radius: 8px;
      padding: 10px 10px 10px 15px;
    }
  
    input,
    textarea {
      margin-bottom: 20px;
    }
  
    textarea {
      height: 190px;
      min-height: 190px;
      max-height: 250px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .settings {
    label {
      margin-bottom: 20px;

      span {
        max-width: 90px;
      }
    }
  
    #timezone {
      height: 65px;
      margin-bottom: 20px;
      margin-top: 0px;
      background: url(../img/svg/triangle.svg) no-repeat 97% 50%;
      background-size: 15px;
      background-color: $off-white;
    }
  
    .settings-button {
      gap: 20px;
    }
  
    #save,
    #cancel {
      height: 65px;
      border-radius: 8px;
    }
  }
}

@media (min-width: 550px) {
  .alert-banner {
    height: 50px;
  }
}

@media (min-width: 768px) {
  .primary-header {
    padding: 20px 10px;
    height: 70px;
  
    .bell-container {
      height: 45px;
      width: 45px;

      .notification-container {
        top: 44px;
      }
  
      .bell-icon {
        width: 22px;
      }
    
      #notification-dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        top: 6px;
        right: 10px;
      }
    }
  
    .vh {
      height: 42px;
    }
  
    img {
      width: 40px;
    }
  }

  nav {
    position: sticky;
    flex-direction: column;
    justify-content: flex-start;
    gap: 22px;
    width: 70px;
    height: 100vh;
    top: 0px;
    padding-top: 20px;

    svg {
      height: 30px;
    }
  }

  main {
    margin-left: 10px;
  }

  .main-header {
    gap: 15px;
    height: 55px;
  
    .tab {
      height: 52px;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: $gray;
    }
  }

  .alert-banner {
    height: 36px;
    margin: 15px 20px;
    border-radius: 6px;
    
    p {
      padding: 15px;
    }
  }

  section {
    margin: 5px 20px;
  }

  .traffic {
    margin-block: 5px 10px;

    .traffic-header {
      display: flex;
      justify-content: space-between;
      align-items: center;  
      margin-bottom: 20px;

      .traffic-nav {
        margin-bottom: 0px;

        &-link {
          padding: 6px 11px;
        }

      }
    }
  }

  .daily h3,
  .mobile h3 {
    margin-bottom: 20px;
  }

  .daily {
    margin-right: 0;
    margin-block: 0;
    padding-right: 20px;
    padding-block: 5px;
    border-right: 1px solid #ccc;
  }

  .social h3 {
    margin-bottom: -5px;
  }

  .social-container {
    border-radius: 6px;
    margin-bottom: 10px;
    height: 95px;
  
    .social-image {
      width: 60px;
      height: 60px;
      border: 15px solid $purple-light;
    }
  }

  .members hr,
  .activity hr {
    margin-block: 10px;
  }

  .members h3,
  .activity h3,
  .message h3 {
    margin-bottom: 10px;
  }

  .members-container {
    flex-direction: row;
    justify-content: inherit;
    padding-inline: 0px;
  
    .profile-image {
      width: 60px;
    }

    .members-text {
      flex: 1;
      text-align: left;
      margin-left: 15px;
    }

    .arrow {
      display: block;
      color: $purple-light;
      margin-left: 10px;
      cursor: default;
     }
  }

  .widget-container {
    input,
    textarea,
    button {
      height: 45px;
      border-radius: 5px;
      padding: 8px 8px 8px 12px;
    }
  
    input,
    textarea {
      margin-bottom: 15px;
  
    }
  
    textarea {
      height: 130px;
      min-height: 130px;
      max-height: 180px;
      min-width: 100%;
      max-width: 100%;
    }
  
    button {
      margin-bottom: 10px;
    }
  }

  .settings {
    label {
      display: flex;
      margin-bottom: 20px;
      width: 300px;

      span {
        max-width: 75px;
      }
    }
  
    #timezone {
      height: 45px;
      margin-bottom: 15px;
      margin-top: 0px;
      border-radius: 5px;
      background: url(../img/svg/triangle.svg) no-repeat 98% 50%;
      background-size: 13px;
      background-color: $off-white;
    }
  
    .settings-button {
      gap: 15px;
    }
  
    #save,
    #cancel {
      height: 45px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 1024px) {
  body {
    background-color: darken($puprle-dark, 10%);
  }

  .members,
  .message {
    margin-right: 0;
    margin-block: 0;
    padding-right: 20px;
    padding-block: 5px;
    border-right: 1px solid #ccc;
  }

  .last-members-hr {
    display: none;
  }

  .settings {
    margin-block: 0;
    padding-block: 5px;
    position: relative;

    label {
      margin-bottom: 32px;
    }

    #timezone {
      position: absolute;
      width: 100%;
      bottom: 60px;
    }

    .settings-button {
      gap: 15px;
      position: absolute;
      width: 100%;
      bottom: 15px;
    }

    #save,
    #cancel {
      margin-bottom: 0px;
    }
  }
}
