.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

.primary-header {
  grid-area: header;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: main;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    hr {
      grid-column: 1 / span 6;
    }

    .daily + hr {
      grid-row: 1;
    }

    .main-header,
    .alert-container,
    .traffic {
      grid-column: 1 / span 6;
    }

    .daily {
      grid-column: 1 / span 3;
    }

    .mobile {
      grid-column: 4 / span 3;
    }

    .social {
      grid-column: 1 / span 6;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      h3 {
        grid-column: 1 / span 3;
      }

      .social-container:nth-of-type(1) {
        grid-column: 1 / span 1;
      }

      .social-container:nth-of-type(2) {
        grid-column: 2 / span 1;
      }
      
      .social-container:nth-of-type(3) {
        grid-column: 3 / span 1;
      }
    }

    .members,
    .activity,
    .message,
    .settings {
      grid-column: 1 / span 6;
    }
  }
}

@media (min-width: 1024px) {
  main {
    .members,
    .message {
      grid-column: 1 / span 3;
    }

    .activity {
      grid-row: 10;
    }

    .activity,
    .settings {
      grid-column: 4 / span 3;
    }

    .settings {
      grid-row: 12;
    }
  }
}